html, body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* layout css */

.ly-header {
  width: 100%;
  height: 50px;
  background-color: #1d1d1d;
  padding: 0 1rem;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  color: #fff; 
}

.ly-content {
  width: 100%;
  height: calc(100% - 150px);
  background-color: #060608;
  position: relative;
}

.ly-footer {
  width: 100%;
  height: 100px;
  background-color: #1d1d1d;
  position: relative;
  border-top: 1px solid #ccc;
  z-index: 1;
}

/* header */

/* sidebar left & right */

.snb-left {
  top: 20px;
  left: 20px;
  position: absolute;
}

.snb-left .snb-nav-btn-list li {
  margin-bottom: .5rem;
  text-align: center;
}
.snb-left .snb-nav-btn-list li:last-child {
  margin-bottom: 0;
}
.snb-left .snb-nav-btn-list li a {
  width: 85px;
  height: 25px;
  background-color: #f47320;
  display: inline-block;
  line-height: 25px;
  text-align: center;
  color: #fff; 
}

.snb-left .snb-content {
  width: 1000px;
  height: 500px;
  background-color: #121212;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  position: absolute;
  top: 32px;
  right: -1015px;
  display: none;
  color: #fff; 
}
.snb-left .snb-content.active {
  display: block;
}

.snb-right {
  background-color: #fff;
  width: 350px;
  max-height: calc(100% - 40px);
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 20px;
  right: 20px;
}

/* tab css */

.tab-nav-btn-list li a.active {
  border-bottom: 1px solid #ccc;
}

.tab-nav-page {
  display: none;
}

.tab-sub-content {
  display: none;
}

.active {
  display: block;
}

/* flex css */

.flex {
  display: flex; }

.row {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* bar chart css */

.bar {
  fill: #4fb6f8;
}

.bar:hover {
  fill: red
}

/* tooltip box */

.hover-box {
  width: 200px;
  height: 100px;
  background-color: #eee;
  border-radius: .225rem;
  border: 1px solid #ccc;
  position: relative;
}

.hover-box::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #eee;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: absolute;
  bottom: -6px;
  left: 20px;
  transform: rotate(45deg);
}

/* table css */

table {
  width: 100%;
}

table, td {
  background-color: #eee;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ccc;
  text-align: center;
  color: #565656;
}

td {
  padding: .3rem 1rem;
}

td:nth-child(2){
  width: 4rem;
  background-color: #fff;
  text-align: center;
}
